= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'new_user gl-show-field-errors js-sign-in-form', aria: { live: 'assertive' }, data: { testid: 'sign-in-form' }}) do |f|
  .form-group
    = f.label _('Username or email'), for: 'user_login', class: 'label-bold'
    = f.text_field :login, value: @invite_email, class: 'form-control gl-form-input top js-username-field', autofocus: 'autofocus', autocapitalize: 'off', autocorrect: 'off', required: true, title: _('This field is required.'), data: { qa_selector: 'login_field', testid: 'username-field' }
  .form-group
    = f.label :password, class: 'label-bold'
    = f.password_field :password, class: 'form-control gl-form-input bottom', autocomplete: 'current-password', required: true, title: _('This field is required.'), data: { qa_selector: 'password_field' }
  - if devise_mapping.rememberable?
    %div
      %label{ for: 'user_remember_me' }
        = f.check_box :remember_me
        %span= _('Remember me')
      .float-right
        - if unconfirmed_email?
          = link_to _('Resend confirmation email'), new_user_confirmation_path
        - else
          = link_to _('Forgot your password?'), new_password_path(:user)
    %div
    - if arkose_labs_enabled?
      = render_if_exists 'devise/sessions/arkose_labs'
    - elsif captcha_enabled? || captcha_on_login_required?
      = recaptcha_tags nonce: content_security_policy_nonce

  .submit-container.move-submit-down
    = f.button _('Sign in'), type: :submit, class: "gl-button btn btn-block btn-confirm js-sign-in-button#{' js-no-auto-disable' if Feature.enabled?(:arkose_labs_login_challenge)}", data: { qa_selector: 'sign_in_button', testid: 'sign-in-button' }
